<!DOCTYPE html>
<html>
<head>
    <title>Détails Client</title>
    <script>
        // Rafraîchir la page toutes les 5 secondes
        setTimeout(function(){
            window.location.reload(1);
        }, 5000);
    </script>
</head>
<body>
    <h2>Détails pour {{ latest.hostname if latest else ip }}</h2>
    {% if latest %}
        <p>CPU% : <span style="color:{{ 'red' if latest.cpu_percent > 70 else 'black' }}">{{ latest.cpu_percent }}</span></p>
        <p>RAM% : <span style="color:{{ 'red' if latest.ram_percent > 80 else 'black' }}">{{ latest.ram_percent }}</span></p>
        <p>Ports ouverts : <span style="color:{{ 'red' if latest.open_ports_count > 10 else 'black' }}">{{ latest.open_ports|join(', ') }}</span></p>
        <p>Logs count : {{ latest.logs_count }}</p>
        <p>Dernière mise à jour : {{ latest.timestamp }}</p>
        
        {% if alert %}
	  <a href="{{ url_for('list_alerts') }}">
            <p style="color:red; font-weight:bold;">⚠️ Alerte détectée !</p>
	  </a> 
        {% endif %}
    {% else %}
        <p>Aucune donnée reçue pour ce client.</p>
    {% endif %}

    <a href="{{ url_for('dashboard') }}">Retour au dashboard</a>
</body>
</html>

